{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<h1>
    AI Study Assistant
</h1>

<h2>
    Welcome, {{ user.username }}!
</h2>

<hr>

<h3>
    Study Tools
</h3>

<ul>

    <li>
        <a href="{% url 'subjects:subject_list' %}">
            My Subjects
        </a>
    </li>

    <li>
        <a href="{% url 'documents:document_list' %}">
            My Documents
        </a>
    </li>

    <li>
        <a href="{% url 'quizzes:quiz_list' %}">
            AI Quizzes
        </a>
    </li>

</ul>

{% endblock %}